body{
    background-color:black;   
}

header{
    color:rgb(107, 107, 107);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.Description{
    background-color: rgb(20, 20, 20);
    width: 700px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 40px auto;

    color:rgb(107, 107, 107);
    font-size: 24px;
}

.Home {
    display: flex;
    justify-content: center;
    gap: 20px;   
}

.Home a{
    color:rgb(61, 61, 61);
}

#GameStart{
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#Generate{
    height: 60px;
    font-size: 32px;
    background-color: rgb(51, 51, 51);
}

#StartGame{
    font-size: 24px;
    color: rgb(51, 51, 51);
}

#EnterNumber{
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-top: 0px;
}

#numberInput{
    font-size: 24px;
    width: 350px;
    height: 30px;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}

#Submit{
    font-size: 24px;
    width: 100px;
    height: 36px;
    background-color: rgb(41, 41, 41);
}

#resultText{
    font-size: 32px;

    display: flex;
    justify-content: center;
}

#GuessesNum{
    display: flex;
    flex-direction: column;
}

#Tabel{
    display: flex;
    margin-left: 3%;

    font-size: 24px;
    color:rgb(78, 78, 78);
}

#Numbers{
    font-size: 24px;
    color: rgb(107, 107, 107);
}

#Profile{
    font-size: 24px;
    color: rgb(77, 77, 77);
    display:flex;
    justify-self:center;
}